.hero__bg-image {
  /* mobile screen */

  background-image: var(--hero-gradient-bgc),
    url(../../../images/hero/hero-img.jpg);

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: var(--hero-gradient-bgc),
      url(../../../images/hero/hero-img.jpg);
  }

  /* tablet screen */

  @media screen and (min-width: 481px) {
    background-image: var(--hero-gradient-bgc),
      url(../../../images/hero/hero-img.jpg);

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: var(--hero-gradient-bgc),
        url(../../../images/hero/hero-img.jpg);
    }
  }

  /* deckstop screen */

  @media screen and (min-width: 769px) {
    background-image: var(--hero-gradient-bgc),
      url(../../../images/hero/hero-img.jpg);

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: var(--hero-gradient-bgc),
        url(../../../images/hero/hero-img.jpg);
    }
  }
}
